body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.side,
.card,
.board,
.hand,
.plane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid black;
}
.board,
.side {
  flex-direction: column;
}
.stats {
  display: flex;
  flex-direction: column;
}

.plane,
.hand {
  min-height: 150px;
}
