body {
  font-family: sans-serif;
  background-color: #f39f86;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.side,
.board,
.hand,
.plane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid rgb(70, 70, 70);
}
.board,
.side {
  flex-direction: column;
}
.card {
  display: flex;
  border-radius: 25px;
  border: 2px solid rgb(70, 70, 70);
  flex-direction: column;
}

.plane,
.hand {
  min-height: 150px;
}

#buttonContainer {
  display: flex;
  justify-content: center;
}
.turnButton {
  width: 10%;
}
