body {
  font-family: sans-serif;
  background-color: #f39f86;
}

a {
  text-decoration: none;
}

h2,
h3 {
  margin: 1vh auto;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.side,
.board,
.hand,
.plane {
  display: flex;
  flex-direction: row;
  border: 2px solid rgb(70, 70, 70);
}
.board,
.side {
  flex-direction: column;
}

.collectionCard,
.card {
  display: flex;
  border: 2px solid rgb(70, 70, 70);
  flex-direction: column;
  background-color: white;
}

.card {
  border-radius: 25px;
}
.collectionCard {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  border-radius: 10px;
}

.collectionCardImg {
  width: 11vh;
}

.plane,
.hand {
  min-height: 150px;
}

.hero img {
  width: 11vh;
}

#collections {
  display: flex;
}

#selectedCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.collection {
  border: 2px solid rgb(70, 70, 70);
  padding-top: 7vh;
  border-radius: 1vh;
  margin-left: 0.5vh;
  margin-right: 0.5vh;
  padding-bottom: 7vh;
  text-align: center;
}

#homepage a {
  width: 20%;
  text-align: center;
  padding-top: 0.5vh;
  background-color: hsl(14, 82%, 24%);
  color: #fff;
  padding-bottom: 0.5vh;
  margin-bottom: 2vh;
  border-radius: 20px;
}

#homepage a:hover {
  background-color: rgba(0, 0, 0, 0.25);
  color: hsl(14, 82%, 24%);
}
